pip~=24.1b1
attrs~=23.2.0
wheel~=0.43.0
google~=3.0.0
pillow~=10.3.0
tornado~=6.4
Jinja2~=3.1.4
Flask~=3.0.3
gunicorn~=22.0.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0