<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <style>
        .invert-colors {
            filter: invert(100%);
        }
        .resize-image {
            width: 220px; /* Adjust this value as needed */
            display: block;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    {% include "header.html" %}

    <section id="about-screen">
        <div class="profile-picture">
            <img src="static/assets/img/nikos.jpg" alt="Nikos Lymperidis">
        </div>

        <div class="text-content">
            <h2 class="subtitle">
                As a data analyst with a passion for using data to solve real-world problems,
                I'm particularly interested in the field of bioinformatics and healthcare.
            </h2>
            <br>

            <ul>
                <li class="nav-item stack">
                    <a class="nav-link active text-reset stack" style="--index: 0;" href="#whoami">Who am I</a>
                <li class="nav-item stack">
                    <a class="nav-link active text-reset stack" style="--index: 0;" href="#tools">Programming Languages & Tools</a>
                </li>
                <li class="nav-item stack">
                    <a class="nav-link active text-reset stack" style="--index: 0;" href="#lang">Languages</a>
                </li>
                <li class="nav-item stack">
                    <a class="nav-link active text-reset stack" style="--index: 0;" href="#techskills">Technical Skills</a>
                </li>
                <li class="nav-item stack">
                    <a class="nav-link active text-reset stack" style="--index: 0;" href="#softskills">Soft Skills and Background</a>
                </li>
                <li class="nav-item stack">
                    <a class="nav-link active text-reset stack" style="--index: 0;" href="#hobbies">Hobbies and Trivia</a>
                </li>
            </ul>
            <br>
            <br>

            <h2 id="whoami">Who am I</h2>
            <p>
                I'm Nikolaos Lymperidis, an aspiring Data Analyst eager to combine domain knowledge and analytical
                skills to make real-world positive contributions. Skilled at leveraging data to develop actionable
                solutions and utilizing data mining and data visualization to create meaningful insights. Reliable
                and dedicated team player with a hardworking and resourceful approach. Military obligations fulfilled.
            </p>

            <h2 id="tools">Programming Languages & Tools</h2>
            <ul>
                <li>SQL, Python/BioPython, C++, Java</li>
                <li>Tableau, Power BI</li>
            </ul>
            <br>

            <h2 id="lang">Languages</h2>
            <ul>
                <li>Greek (Native)</li>
                <li>English (B2)</li>
            </ul>
            <br>

             <section id="techskills">
                <h2>Technical Skills</h2>
                <div class="skills-container">
                    <div class="skill-card">
                        <img src="static/assets/img/programming.jpg" alt="Programming and Web Development">
                        <h3>Programming and Web Development</h3>
                        <ul>
                            <li>Python (including Django, Flask)</li>
                            <li>Bootstrap, HTML, CSS</li>
                        </ul>
                    </div>

                    <div class="skill-card">
                        <img src="static/assets/img/analysis.jpg" alt="Analysis and Visualization">
                        <h3>Analysis and Visualization</h3>
                        <ul>
                            <li>Pandas, Matplotlib, NumPy</li>
                            <li>Plotly, Seaborn</li>
                        </ul>
                    </div>

                    <div class="skill-card">
                        <img src="static/assets/img/version.png" alt="Version Control" class="invert-colors resize-image">
                        <h3>Version Control</h3>
                        <ul>
                            <li>Git, GitHub</li>
                        </ul>
                    </div>

                    <div class="skill-card">
                        <img src="static/assets/img/database.jpg" alt="Databases">
                        <h3>Databases</h3>
                        <ul>
                            <li>Postgres, MySQL, SQLite</li>
                        </ul>
                    </div>

                    <div class="skill-card">
                        <img src="static/assets/img/web-scraping.jpg" alt="Web Scraping and Data Parsing">
                        <h3>Web Scraping and Data Parsing</h3>
                        <ul>
                            <li>Selenium, BeautifulSoup</li>
                        </ul>
                    </div>
                </div>
             </section>

            <h2 id="softskills">Soft Skills and Background</h2>
            <p>
                I embarked on my academic journey in 2013 at the University of Thessaly in Lamia, Greece, where I
                pursued a Bachelor of Science in Computer Science and Biomedical Informatics. My passion for combining
                technology and healthcare drove me to excel in this field, and I successfully graduated in 2022.
                During my studies, I fulfilled my military obligations in November 2021 while continuing my academic
                pursuits. Concurrently, I also began the ASPAITE program and the Healthcare Data Science course by
                Workearly. After completing these, I engaged in the 100 Days of Code challenge on Udemy and attended
                a seminar on Clinical Pilates, aligning with my interest in fitness and well-being.
            </p>
            <br>

            <h2 id="hobbies">Hobbies and Trivia</h2>
            <p>
                When I'm not immersed in data analysis or exploring bioinformatics, I engage
                in a variety of activities that enrich my life and keep me balanced:
            </p>
            <ul>
                <li><strong>Fitness and Nutrition Enthusiast</strong>: I am passionate about maintaining a healthy
                    lifestyle, which includes both fitness and nutrition. My fitness routine involves weightlifting
                    and running. I also enjoy researching nutrition to optimize my diet and well-being.
                </li>
                <li><strong>Gaming</strong>: I find relaxation in playing games, both on my phone and single-player
                    games on my PC. These games help me unwind while enhancing my problem-solving and critical
                    thinking abilities.
                </li>
                <li><strong>Music Lover</strong>: I am particularly fond of house and techno music.
                    I enjoy attending music events and festivals where I can immerse myself in these genres and
                    experience live performances.
                </li>
                <li><strong>Culinary Explorer</strong>: I love trying new cuisines and flavors, and I have a particular
                    fondness for sweets. Exploring different culinary delights is one of my favorite pastimes.
                </li>
                <li><strong>Travel Enthusiast</strong>: I enjoy making trips to see beautiful locations and experience
                    local cuisines. I love the sea and often seek out coastal destinations to enjoy the scenery and
                    fresh seafood.
                </li>
            </ul>
        </div>
    </section>

    {% include "footer.html" %}
</body>
</html>
