<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <footer>
        <div class="footer">
            <div class="rounded-social-buttons">
                <a class="social-button facebook" href="https://www.facebook.com/Nikos.Lympe/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="social-button linkedin" href="https://www.linkedin.com/in/nlymperidis/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a class="social-button instagram" href="https://www.instagram.com/nikos_lybe/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="social-button github" href="https://www.github.com/nlymperidis" target="_blank"><i class="fa fa-github"></i></a>
            </div>
            <div class="small text-center fst-italic" style="color: white;">
                Copyright &copy; Nikos Lymperidis 2024
            </div>
        </div>
    </footer>
</body>
</html>